html, body, head {
    margin: 0;
    border: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-family: 'PT Sans', sans-serif;
    /* enfore no scroll */
    overflow-x: hidden;
}
/*
I'll try to keep it simple, just try to read carefully
*/

/* This is a custom element. Elements are defined as so */

[fframe] {
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

headsection {
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 100 !important;
    background-color: white;
}

column2 {
    /* column with 2 container */
    width: 50%;
    float: left;
}
[cright] { text-align: right; margin-right: 60px;}

.ttitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2vh;
}
#navitem {
    text-transform: uppercase;
    padding-left: 4%;
    color: #5e5d5d; 
    /*
    font-style: italic;
    */
}
[nactive] {font-weight: bold;}
.fa-shopping-basket {opacity: 50%; font-size: 20px;}
[necart] {opacity: 90%;}
headsection > hr {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.486);
    border-style: solid;
}
content {
    position: absolute;
    top: 82px;
    width: 100%;
}
[scream] {
    text-align: right;
    width: 100%;
    z-index: 1;
    padding-bottom: 20px;
}
headtitle {
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 6%;
    color: white;
    text-transform: uppercase;
    font-size: 5vw;

}
subtitle {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 6%;
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    
}
chev {
    position: absolute;
    z-index: 3;
    top: 67%;
    left: 48%;
    color: white;
    font-size: 4vw;
}
marea {
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 20px;
}
cheader {
    font-weight: bold;
    font-size: 3.8vw;
    margin-top: 18px;
}
marea > hr {
    position: absolute;
    bottom: 0;
    width: 55%;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.486);
    border-style: solid;
}
[cright] > a:hover {
    cursor: pointer;
}
[cright] > a {text-decoration: none!important;}