html, body, head {
    margin: 0;
    border: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-family: 'PT Sans', sans-serif;
    /* enfore no scroll */
    overflow-y: hidden;
    overflow-x: hidden;
}
/*
I'll try to keep it simple, just try to read carefully
*/

/* This is a custom element. Elements are defined as so */

[fframe] {
    font-family: 'PT Sans', sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

headsection {
    padding: 30px;
    position: absolute;
    width: 100%;
}

column2 {
    /* column with 2 container */
    width: 50%;
    float: left;
}
[cright] { text-align: right; margin-right: 60px;}